<div class="center">
<%= link_to "Add new kitten", new_path, class: "btn btn-primary" %>
</div>

<h2>All kittens</h2>

<% @kittens.each do |kitten| %>
  <ul>
  	<li><%= kitten.name %> - Age: <%= kitten.age %></li>
  </ul>
<% end %>
