
	<h1>About</h1>
	<h3>In this project I have used:</h3>
	<ul>
		<li>Partials to avoid files with many lines of code. Improves readability</li>
		<li>Custom error messages. Automatically pluralizing whenever required</li>
		<li>Validations</li>
		<li>Strong Paramaters to avoid mass asignment</li>
		<li>Bootstrap gem and custom.scss to stylize the project</li>
		<li>HTML5 shim(shiv) to work with older browsers</li>
		<li>Git branching for each feature</li>
		<li>Made the Kitten's resource available via API</li>
	</ul>


<%= link_to "Return", root_url, class: "btn btn-primary" %>