<div class="center">
  <h1>Find me on <a href="http://github.com/danshock">GitHub</a></h1>
  <strong>or</strong>
  <h1>Find me on <a href="https://twitter.com/DanislavV">Twitter</a></h1>
  <%= link_to "Return", root_url, class: "btn btn-primary" %>
</div>
